@charset "UTF-8";
/* color */
/* レスポンシブ */
/* color */
/* レスポンシブ */
/* 全体 */
html *,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: #373737;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .only_pc {
    display: none;
  }
}

.only_tb01 {
  display: none;
}

@media (max-width: 970px) {
  .only_tb01 {
    display: block;
  }
}

.only_tb02 {
  display: none;
}

@media (max-width: 970px) {
  .only_tb02 {
    display: block;
  }
}

@media (max-width: 768px) {
  .only_tb02 {
    display: none;
  }
}

.only_sp {
  display: none;
}

@media (max-width: 768px) {
  .only_sp {
    display: block;
  }
}

/* title */
.section_title {
  color: #F080A0;
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 6.5px;
}

@media (max-width: 1414px) {
  .section_title {
    font-size: 3.676vw;
    line-height: 4.596vw;
    letter-spacing: 0.46vw;
  }
}

@media (max-width: 768px) {
  .section_title {
    font-size: 8vw;
    line-height: 10vw;
    letter-spacing: 0.026vw;
  }
}

.section_title_white {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.26px;
}

@media (max-width: 1414px) {
  .section_title_white {
    font-size: 3.676vw;
    line-height: 3.676vw;
    letter-spacing: 0.018vw;
  }
}

@media (max-width: 768px) {
  .section_title_white {
    font-size: 6.5vw;
    line-height: 5.208vw;
    letter-spacing: 0.026vw;
  }
}

.title_l {
  color: #373737;
  font-size: 23.4px;
  font-weight: 700;
}

@media (max-width: 1414px) {
  .title_l {
    font-size: 1.654vw;
  }
}

@media (max-width: 768px) {
  .title_l {
    font-size: 2.344vw;
  }
}

.title_m {
  font-size: 41.6px;
  font-weight: 700;
  letter-spacing: 8.32px;
  padding-bottom: 52px;
}

@media (max-width: 1414px) {
  .title_m {
    font-size: 2.941vw;
    letter-spacing: 0.588vw;
    padding-bottom: 3.676vw;
  }
}

@media (max-width: 768px) {
  .title_m {
    font-size: 7vw;
    line-height: 8.5vw;
    letter-spacing: 0.833vw;
    padding-bottom: 6vw;
  }
}

.title_s {
  font-size: 23.4px;
  font-weight: 700;
  letter-spacing: 2.6px;
  line-height: 26px;
  padding-bottom: 9.1px;
}

@media (max-width: 1414px) {
  .title_s {
    font-size: 1.654vw;
    letter-spacing: 0.184vw;
    line-height: 1.838vw;
    padding-bottom: 0.643vw;
  }
}

@media (max-width: 768px) {
  .title_s {
    font-size: 5vw;
    letter-spacing: 0.26vw;
    line-height: 5vw;
    padding-bottom: 3vw;
  }
}

.title_s_sub {
  color: #373737;
  font-size: 23.4px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.26px;
  padding-bottom: 6.5px;
}

@media (max-width: 1414px) {
  .title_s_sub {
    font-size: 1.654vw;
    line-height: 2.757vw;
    letter-spacing: 0.018vw;
    padding-bottom: 0.46vw;
  }
}

@media (max-width: 768px) {
  .title_s_sub {
    font-size: 5vw;
    letter-spacing: 0.26vw;
    line-height: 5vw;
    padding-bottom: 3vw;
  }
}

/* text */
.text_l {
  font-size: 41.6px;
  font-weight: 700;
  letter-spacing: 6.5px;
}

@media (max-width: 1414px) {
  .text_l {
    font-size: 2.941vw;
    letter-spacing: 0.46vw;
  }
}

@media (max-width: 768px) {
  .text_l {
    font-size: 5vw;
    line-height: 8vw;
    letter-spacing: 0.651vw;
  }
}

.text_m {
  font-size: 23.4px;
  line-height: 65px;
  letter-spacing: 7.8px;
  font-weight: 700;
}

@media (max-width: 1414px) {
  .text_m {
    font-size: 1.654vw;
    line-height: 4.596vw;
    letter-spacing: 0.551vw;
  }
}

@media (max-width: 768px) {
  .text_m {
    font-size: 5vw;
    line-height: 8vw;
    letter-spacing: 0.8vw;
  }
}

.text_m_sub {
  color: #373737;
  font-size: 23.4px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.26px;
}

@media (max-width: 1414px) {
  .text_m_sub {
    font-size: 1.654vw;
    line-height: 2.757vw;
    letter-spacing: 0.018vw;
  }
}

@media (max-width: 768px) {
  .text_m_sub {
    font-size: 5.3vw;
    line-height: 7.3vw;
    letter-spacing: 0.026vw;
  }
}

.text_m_white {
  font-size: 23.4px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.26px;
}

@media (max-width: 1414px) {
  .text_m_white {
    font-size: 1.654vw;
    line-height: 2.757vw;
    letter-spacing: 0.018vw;
  }
}

@media (max-width: 768px) {
  .text_m_white {
    font-size: 2.865vw;
    line-height: 4.688vw;
    letter-spacing: 0.078vw;
  }
}

.text_s {
  font-size: 15.6px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 1.39px;
}

.text_s a {
  color: #373737;
}

@media (max-width: 1414px) {
  .text_s {
    font-size: 1.103vw;
    line-height: 2.757vw;
    letter-spacing: 0.098vw;
  }
}

@media (max-width: 768px) {
  .text_s {
    font-size: 3.5vw;
    line-height: 4.5vw;
    letter-spacing: 0.2vw;
  }
}

.text_s_sub {
  color: #373737;
  font-size: 15.6px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 2.6px;
}

.text_s_sub a {
  color: #373737;
}

@media (max-width: 1414px) {
  .text_s_sub {
    font-size: 1.103vw;
    line-height: 2.757vw;
    letter-spacing: 0.184vw;
  }
}

@media (max-width: 768px) {
  .text_s_sub {
    font-size: 4vw;
    line-height: 6vw;
    letter-spacing: 0.2vw;
  }
}

.text_pink_xl {
  color: #F080A0;
  font-size: 78px;
  font-weight: 700;
}

@media (max-width: 1414px) {
  .text_pink_xl {
    font-size: 5.515vw;
  }
}

@media (max-width: 768px) {
  .text_pink_xl {
    font-size: 10vw;
  }
}

.text_pink_l {
  color: #F080A0;
  font-size: 41.6px;
  font-weight: 700;
  line-height: 39px;
}

@media (max-width: 1414px) {
  .text_pink_l {
    font-size: 2.941vw;
    line-height: 2.757vw;
  }
}

@media (max-width: 768px) {
  .text_pink_l {
    font-size: 5vw;
    line-height: 3.906vw;
  }
}

.text_pink_m {
  color: #F080A0;
  font-size: 23.4px;
  font-weight: 700;
  line-height: 52px;
}

@media (max-width: 1414px) {
  .text_pink_m {
    font-size: 1.654vw;
    line-height: 3.676vw;
  }
}

@media (max-width: 768px) {
  .text_pink_m {
    font-size: 3.4vw;
    line-height: 6vw;
  }
}

.text_pink_s {
  color: #F080A0;
  font-size: 19.5px;
  font-weight: 700;
  line-height: 35.1px;
}

.text_pink_s a {
  color: #F080A0;
}

@media (max-width: 1414px) {
  .text_pink_s {
    font-size: 1.379vw;
    line-height: 2.482vw;
  }
}

@media (max-width: 768px) {
  .text_pink_s {
    font-size: 4vw;
    line-height: 5vw;
  }
}

@media (max-width: 370px) {
  .text_pink_ss {
    color: #F080A0;
    font-size: 3.25vw;
    font-weight: bold;
    line-height: 6vw;
  }
}

/* btn */
.btn_contact {
  display: block;
  font-size: 20.8px;
  font-weight: 700;
  text-align: center;
  width: 306.8px;
  height: 67.60000000000001px;
  padding: 20.8px 0;
  color: #fff;
  background: #F080A0;
  border-radius: 39px;
}

@media (max-width: 1414px) {
  .btn_contact {
    font-size: 1.471vw;
    width: 21.691vw;
    height: 4.779vw;
    padding: 1.471vw 0;
    border-radius: 2.757vw;
  }
}

@media (max-width: 768px) {
  .btn_contact {
    font-size: 4.5vw;
    width: 48vw;
    height: 13vw;
    line-height: 13vw;
    padding: 0;
    border-radius: 10vw;
  }
}

/* parts */
.bg_pink {
  display: block;
  font-size: 23.4px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  color: #fff;
  background: #F080A0;
  border-radius: 13px;
  line-height: 41.6px;
  letter-spacing: 0.26px;
}

@media (max-width: 1414px) {
  .bg_pink {
    font-size: 1.654vw;
    border-radius: 0.919vw;
    line-height: 2.941vw;
    letter-spacing: 0.018vw;
  }
}

@media (max-width: 768px) {
  .bg_pink {
    font-size: 3.5vw;
    border-radius: 1.302vw;
    line-height: 4.167vw;
    letter-spacing: 0.026vw;
  }
}

.border_pink {
  width: 218.4px;
  height: 52px;
  background: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: 1.3px solid #F080A0;
  border-radius: 13px;
  line-height: 52px;
}

@media (max-width: 1414px) {
  .border_pink {
    width: 15.446vw;
    height: 3.676vw;
    font-size: 0.919vw;
    border: 0.092vw solid #F080A0;
    border-radius: 0.919vw;
    line-height: 3.676vw;
  }
}

@media (max-width: 768px) {
  .border_pink {
    height: 8vw;
    font-size: 3.5vw;
    border: 0.7vw solid #F080A0;
    border-radius: 1.302vw;
    line-height: 7vw;
  }
}

/* background */
.bgGray {
  background: #F3F3F3;
}

/* section_top */
.section_top {
  display: flex;
}

.section_top_texts {
  width: 561.6px;
  margin-right: 104px;
}

.section_top_texts .section_title {
  margin-bottom: 30px;
}

.section_top_texts .text_m_sub {
  margin-bottom: 30px;
}

.section_top_img {
  width: 530.4px;
  height: 390px;
}

@media (max-width: 1414px) {
  .section_top {
    padding-bottom: 3.676vw;
  }
  .section_top_texts {
    margin-right: 7.355vw;
  }
  .section_top_texts .section_title {
    padding-bottom: 2.122vw;
  }
  .section_top_texts .text_m_sub {
    padding-bottom: 2.757vw;
  }
  .section_top_img {
    width: 37.5vw;
    height: 27.574vw;
  }
}

@media (max-width: 768px) {
  .section_top {
    flex-direction: column-reverse;
    padding-bottom: 10vw;
  }
  .section_top_texts {
    width: 100%;
    padding-right: 0;
  }
  .section_top_texts .text_m_sub {
    padding-bottom: 8vw;
  }
  .section_top_img {
    width: 100%;
    height: 100%;
    padding-bottom: 5vw;
  }
  .section_top .btn_contact {
    margin: 0 auto;
  }
}

/* cards( training > curriculum ) */
.mainCard {
  height: 127.39999999999999px;
  color: #F080A0;
  font-weight: 700;
  background: #fff;
  padding: 10.4px;
  border-radius: 13px;
  margin-bottom: 10.4px;
}

.mainCard_line {
  height: 5.2px;
  width: 196.3px;
  background: #F080A0;
  border-radius: 13px;
  margin-bottom: 10.4px;
}

.mainCard_title {
  font-size: 23.4px;
  padding-bottom: 11.7px;
  line-height: 26px;
  letter-spacing: 3.9px;
}

.mainCard_text {
  font-size: 13px;
  line-height: 18.200000000000003px;
  letter-spacing: 10%;
}

@media (max-width: 1414px) {
  .mainCard {
    height: 9.007vw;
    padding: 0.735vw;
    border-radius: 0.919vw;
    margin-bottom: 0.735vw;
  }
  .mainCard_line {
    height: 0.368vw;
    width: 13.879vw;
    border-radius: 0.919vw;
    margin-bottom: 0.735vw;
  }
  .mainCard_title {
    font-size: 1.654vw;
    padding-bottom: 0.827vw;
    line-height: 1.838vw;
    letter-spacing: 0.276vw;
  }
  .mainCard_text {
    font-size: 0.919vw;
    line-height: 1.287vw;
  }
}

@media (max-width: 970px) {
  .mainCard {
    height: 10.7vw;
  }
  .mainCard_text {
    line-height: 1.7vw;
  }
}

@media (max-width: 768px) {
  .mainCard {
    height: 24.5vw;
    padding: 1.953vw 2.604vw;
    border-radius: 1.302vw;
    margin-bottom: 1.302vw;
  }
  .mainCard_line {
    height: 1.302vw;
    width: 100%;
    border-radius: 1.302vw;
    margin-bottom: 4vw;
  }
  .mainCard_title {
    font-size: 4vw;
    padding-bottom: 3vw;
    line-height: 2.604vw;
    letter-spacing: 0.391vw;
  }
  .mainCard_text {
    font-size: 2.6vw;
    line-height: 4vw;
  }
}

.subCard {
  height: 52px;
  font-size: 13px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  background: #fff;
  border-radius: 13px;
  margin-bottom: 10.4px;
}

.subCard_l {
  line-height: 19.5px;
  padding-top: 6.5px;
}

.subCard_br {
  line-height: 52px;
}

.subCard_sp {
  line-height: 19.5px;
  padding-top: 6.5px;
}

@media (max-width: 1414px) {
  .subCard {
    height: 3.676vw;
    font-size: 0.919vw;
    line-height: 3.676vw;
    border-radius: 0.919vw;
    margin-bottom: 0.735vw;
  }
  .subCard_l {
    line-height: 1.379vw;
    padding-top: 0.46vw;
  }
  .subCard_sp {
    line-height: 1.379vw;
    padding-top: 0.46vw;
  }
}

@media (max-width: 970px) {
  .subCard {
    height: 4.75vw;
    line-height: 4.75vw;
  }
  .subCard_l {
    height: 4.75vw;
    line-height: 2vw;
    padding-top: 0.5vw;
  }
  .subCard_br {
    height: 4.75vw;
    line-height: 2vw;
    padding-top: 0.5vw;
  }
  .subCard_sp {
    height: 4.75vw;
    line-height: 2vw;
    padding-top: 0.5vw;
  }
}

@media (max-width: 768px) {
  .subCard {
    height: 15vw;
    font-size: 3.2vw;
    line-height: 15vw;
    border-radius: 1.302vw;
    margin-bottom: 1.042vw;
  }
  .subCard_l {
    height: 15vw;
    line-height: 5.5vw;
    padding-top: 2.5vw;
  }
  .subCard_br {
    height: 15vw;
    line-height: 5.5vw;
    padding-top: 2.5vw;
  }
  .subCard_sp {
    line-height: 4vw;
    padding-top: 2vw;
  }
}

/* header */
.header {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  height: 5.699vw;
}

.header_logo {
  margin-bottom: 0;
}

.header_logo a {
  display: flex;
  color: #373737;
}

.header_logo a:hover {
  text-decoration: none;
  opacity: 1;
}

.header_logo a img {
  width: 5.882vw;
  height: 5.882vw;
  margin-right: 2.665vw;
}

.header_logo a .logo_text {
  font-size: 1.654vw;
  font-weight: bold;
  letter-spacing: 0.276vw;
  line-height: 2.254vw;
  padding-top: 0.45vw;
  margin-right: 2.849vw;
  margin-bottom: 0;
}

.header_logo a .logo_text_sm {
  font-size: 1.103vw;
  line-height: 1.502vw;
  letter-spacing: 0;
}

.header_nav_lists {
  display: flex;
  margin-bottom: 0;
}

.header_nav_list a {
  height: 5.699vw;
  display: block;
  color: #373737;
  font-size: 1.379vw;
  line-height: 2.574vw;
  letter-spacing: 0.018vw;
  line-height: 5.699vw;
  padding: 0 1.838vw;
  margin-right: 2.757vw;
}

.header_nav_list a:hover {
  color: #fff;
  background: #F080A0;
  text-decoration: none;
  opacity: 1;
}

.header_spMenu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    height: 13.333vw;
    padding: 0 2vw 0 0;
  }
  .header_logo a img {
    height: 13.333vw;
    width: auto;
  }
  .header_logo a .logo_text {
    font-size: 4vw;
    letter-spacing: 0.5vw;
    line-height: 5vw;
    padding-top: 1vw;
    margin-right: 0;
  }
  .header_logo a .logo_text_sm {
    font-size: 2.3vw;
  }
  .header_nav {
    display: none;
  }
  .header_spMenu {
    display: block;
  }
  .header_spMenu .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .header_spMenu .mask.is-active {
    opacity: 0.7;
    visibility: visible;
  }
  .header_spMenu_lists {
    opacity: 0;
    visibility: hidden;
    transform: translate(39.063vw, 0);
    transition: 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: #eee;
    width: 39.063vw;
    height: 100vh;
    padding: 30vw 3.5vw;
    margin-top: 0;
    overflow: auto;
    box-shadow: 0 0 0.391vw #333;
  }
  .header_spMenu_lists.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
  .header_spMenu_list {
    border-bottom: 0.26vw dotted #373737;
    margin-bottom: 5vw;
  }
  .header_spMenu_list a {
    display: block;
    color: #F080A0;
    font-size: 5vw;
    padding: 1.6vw;
  }
  .header_spMenu_list a:hover {
    text-decoration: none;
    opacity: 0.75;
  }
  .header .menuButton {
    display: block;
    height: 13.333vw;
    width: 13.333vw;
    background: #fff;
    box-shadow: -2px 2px 5px #ddd;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }
  .header .menuButton div {
    height: 0.55vw;
    width: 5.5vw;
    background: #000;
    border-radius: 1.302vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .header .menuButton div:nth-of-type(1) {
    transform: translate(-50%, -1.9vw);
  }
  .header .menuButton div:nth-of-type(3) {
    transform: translate(-50%, 1.4vw);
  }
  .header .menuButton.is-active div:first-child {
    transform: rotate(45deg) translate(-1.95vw, 1.95vw);
  }
  .header .menuButton.is-active div:nth-child(2) {
    opacity: 0;
  }
  .header .menuButton.is-active div:last-child {
    transform: rotate(-45deg) translate(-1.95vw, -1.95vw);
  }
}

/* fv */
.fv {
  background-image: url("../img/top.png");
  background-size: cover;
	height: 44.8vw;
}

.fv_inner {
    padding: 0 104px;
    padding-top: 13vw;
    max-width: 1414px;
    margin: 0 auto;
}

.fv_siteName {
  color: #F080A0;
  font-size: 3.6vw;
  line-height: 1.5;
	font-weight:bold;
  letter-spacing: 0.368vw;
  padding-bottom: 20px;
}

.fv_siteName_big {
  font-size: 5.515vw;
  letter-spacing: 0.919vw;
}

.fv_discription {
  color: #373737;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5px;
  padding-bottom: 3vw;
}

@media (max-width: 768px) {
  .fv_inner {
    padding: 20vw 7% 12vw;
  }
  .fv_siteName {
    font-size: 7.3vw;
    line-height: 10.5vw;
    letter-spacing: 0.5vw;
    padding-bottom: 8vw;
  }
  .fv_siteName_big {
    font-size: 9vw;
    letter-spacing: 1.3vw;
  }
  .fv_discription {
    font-size: 4vw;
    line-height: 5.5vw;
    letter-spacing: 0.368vw;
    padding-bottom: 8vw;
  }
}

/* product/ */
.product {
  max-width: 1414px;
  margin: 0 auto;
}

.product_inner {
  padding: 52px 104px 54.6px;
  text-align: center;
}

.product_contents {
  display: flex;
  justify-content: center;
}

.product_contents .copy {
  font-size: 23.4px;
  font-weight: bold;
  line-height: 41.6px;
  letter-spacing: 0.26px;
  padding-bottom: 13px;
}

.product_contents li:first-child {
  padding-right: 52px;
}

.product_contents .bg_pink {
  display: inline-block;
  height: 78px;
  width: 364px;
  line-height: 78px;
  color: #fff;
}

@media (max-width: 1414px) {
  .product_inner {
    padding: 3.676vw 7.353vw 3.86vw;
  }
  .product_contents .copy {
    font-size: 1.654vw;
    line-height: 2.941vw;
    letter-spacing: 0.018vw;
    padding-bottom: 0.919vw;
  }
  .product_contents li:first-child {
    padding-right: 3.676vw;
  }
  .product_contents .bg_pink {
    height: 5.515vw;
    width: 25.735vw;
    line-height: 5.515vw;
  }
}

@media (max-width: 768px) {
  .product_inner {
    padding: 18vw 4%;
  }
  .product_contents {
    flex-direction: column;
  }
  .product_contents .copy {
    font-size: 5vw;
    padding-bottom: 6vw;
  }
  .product_contents li {
    width: 70%;
    margin: 0 auto 8vw;
  }
  .product_contents li:first-child {
    padding: 0;
  }
  .product_contents li:last-child {
    margin: 0 auto;
  }
  .product_contents .bg_pink {
    height: 11vw;
    width: 100%;
    line-height: 11vw;
  }
}

/* training/ */
.training_inner {
  max-width: 1414px;
  margin: 0 auto;
  padding: 104px 104px 91px;
}

.training .price {
	 margin-top: 20px;
}

.training .price > .text_m {
  line-height: normal;
	margin-bottom:10px;
}


.training .price_left {
  width: 50%;
}

.training .price_right {
  width: 50%;
}

.training .price_right .text_m {
  line-height: 31.2px;
  letter-spacing: 2.6px;
}

.training .price_right .text_m_big {
  font-size: 33.800000000000004px;
  letter-spacing: 9.100000000000001px;
}

.training .foreigner {
  padding: 104px 0 75.39999999999999px;
}

.training .foreigner_title {
  font-size: 41.6px;
  font-weight: bold;
  line-height: 52px;
  letter-spacing: 6.5px;
  padding-bottom: 39px;
}

.training .foreigner_top {
  display: flex;
}

.training .foreigner_top_text {
  padding-right: 104px;
}

.training .foreigner_price {
  margin-top: 80px;
}

.training .foreigner_price .text_s {
  letter-spacing: 0.39px;
}

.training .curriculum {
  padding: 104px 0 0;
}

.training .curriculum .section_title {
  padding-bottom: 13px;
}

.training .curriculum .text_s {
  letter-spacing: 3.39px;
}

.training .curriculum .text_pink_l {
  font-size: 31.2px;
  letter-spacing: 5px;
}

.training .curriculum .title_m {
  padding-bottom: 26px;
}

.training .curriculum_contents {
  padding: 52px 0 57.2px;
}

.training .curriculum_contents_top {
  display: flex;
}

.training .curriculum_contents_top .bgBlack {
  color: #fff;
  font-size: 15.6px;
  line-height: 39px;
  letter-spacing: 2.6px;
  text-align: center;
  background: #373737;
  margin-bottom: 26px;
}

.training .curriculum_contents_top .bgBlack01 {
  margin-right: 26px;
}

.training .curriculum_contents_top .cards {
  display: flex;
  text-align: center;
}

.training .curriculum_contents_top .cards_vertical {
  width: 221px;
  margin-right: 26px;
}

.training .curriculum_contents_top .cards_vertical.last {
  margin-right: 0;
}

.training .curriculum .cards_mainCard_discs {
  display: none;
}

@media (max-width: 1414px) {
  .training_inner {
    padding: 7.353vw 7.353vw 6.434vw;
  }
  .training .text_s {
    letter-spacing: 0.276vw;
  }
  
 
  .training .price_left {
    width: 50%;
  }
  .training .price_right {
    width: 50%;
  }
  .training .price_right .text_m {
    line-height: 1.5vw;
    letter-spacing: 0.125vw;
  }
  .training .price_right .text_m_big {
    font-size: 2.39vw;
    letter-spacing: 0.643vw;
  }
  .training .foreigner {
    padding: 7.353vw 0 5.331vw;
  }
  .training .foreigner_title {
    font-size: 32px;
    font-weight: bold;
    line-height: 3.676vw;
    letter-spacing: 0.46vw;
    padding-bottom: 2.757vw;
  }
  .training .foreigner_top {
    display: flex;
  }
  .training .foreigner_top_text {
    padding-right: 5vw;
  }
  .training .foreigner_price .text_s {
    letter-spacing: 0.028vw;
  }
  .training .curriculum {
    padding: 7.353vw 0 0;
  }
  .training .curriculum .section_title {
    padding-bottom: 0.919vw;
  }
  .training .curriculum .text_s {
    letter-spacing: 0.24vw;
  }
  .training .curriculum .text_pink_l {
    font-size: 2.206vw;
    letter-spacing: 0.354vw;
  }
  .training .curriculum .title_m {
    padding-bottom: 1.838vw;
  }
  .training .curriculum_contents {
    padding: 3.676vw 0 4.045vw;
  }
  .training .curriculum_contents_top .bgBlack {
    font-size: 1.103vw;
    line-height: 2.757vw;
    letter-spacing: 0.184vw;
    margin-bottom: 1.838vw;
  }
  .training .curriculum_contents_top .bgBlack01 {
    margin-right: 1.838vw;
  }
  .training .curriculum_contents_top .cards_vertical {
    width: 15.625vw;
    margin-right: 1.838vw;
  }
}

@media (max-width: 768px) {
  .training_inner {
    padding: 18vw 4% 14vw;
  }
  .training .section_title {
    padding-bottom: 8vw;
  }
  .training .text_s {
    font-size: 4vw;
    line-height: 8vw;
    letter-spacing: 0.1vw;
    padding-bottom: 6.51vw;
  }
  .training .price > .text_m {
    font-size: 7vw;
    padding-bottom: 10vw;
  }
  .training .price_inner {
    flex-direction: column;
  }
  .training .price_left {
    width: 100%;
    padding-bottom: 5vw;
  }
  .training .price_right {
    width: 100%;
  }
  .training .price_right .text_m_big {
    font-size: 4.5vw;
    line-height: 8vw;
  }
  .training .foreigner {
    padding: 10vw 0 5.331vw;
  }
  .training .foreigner_title {
    font-size: 7vw;
    line-height: 8vw;
    padding-bottom: 8vw;
  }
  .training .foreigner_top {
    flex-direction: column-reverse;
  }
  .training .foreigner_top_text {
    padding-right: 0;
  }
  .training .foreigner_price {
    margin-top: 10vw;
  }
  .training .foreigner_price > .text_m {
    font-size: 7vw;
    padding-bottom: 8vw;
  }
  .training .curriculum {
    padding: 10.417vw 0 0;
  }
  .training .curriculum .section_title {
    padding-bottom: 8vw;
  }
  .training .curriculum .text_pink_l {
    font-size: 6vw;
  }
  .training .curriculum_contents {
    padding-bottom: 7vw;
  }
  .training .curriculum_contents_top {
    flex-direction: column;
  }
  .training .curriculum_contents_top_content:first-child {
    padding-bottom: 8vw;
  }
  .training .curriculum_contents_top_content:first-child .cards_vertical {
    width: 50%;
    margin-right: 1.302vw;
  }
  .training .curriculum_contents_top_content:first-child .cards_vertical:last-child {
    margin-right: 0;
  }
  .training .curriculum_contents_top_content:last-child .cards_vertical {
    width: 33.3%;
    margin-right: 1.302vw;
  }
  .training .curriculum_contents_top_content:last-child .cards_vertical:last-child {
    margin-right: 0;
  }
  .training .curriculum_contents_top_content:last-child .cards .mainCard {
    height: 27vw;
  }
  .training .curriculum_contents_top .bgBlack {
    font-size: 3.8vw;
    line-height: 9vw;
  }
  .training .curriculum_contents_top .bgBlack:first-child {
    margin-right: 0;
  }
}

@media (max-width: 370px) {
  .training .curriculum_contents_top_content:last-child .cards .mainCard {
    height: 16vw;
  }
  .training .curriculum_contents_top_content:last-child .cards .mainCard_text {
    display: none;
  }
  .training .curriculum .cards_mainCard_discs {
    display: block;
    padding-top: 5vw;
  }
}

/* academy/ */
.academy {
  max-width: 1414px;
  margin: 0 auto;
}

.academy_inner {
  padding: 104px 114.4px 0 104px;
}

.academy_pricing {
  padding-bottom: 52px;
}

.academy_pricing .text_pink_l {
  font-size: 49.4px;
}

.academy_pricing .text_m {
  letter-spacing: 2.08px;
}

.academy_pricing .text_m:first-child {
  line-height: 39px;
  letter-spacing: 6.5px;
}

.academy .bgGray {
  border-radius: 13px;
  padding: 78px 111.8px 44.2px 78px;
}

.academy .bgGray_contents {
  padding-bottom: 52px;
  border-bottom: 2.6px solid #F080A0;
}

.academy .bgGray_contents:first-child {
  margin-bottom: 104px;
}

.academy .bgGray_contents_inner {
  display: flex;
}

.academy .bgGray_contents_inner img {
  width: auto;
	height:239px;
  margin-left: 104px;
}

.academy .bgGray_items_lists {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 52px;
}

.academy .bgGray_items_lists li {
  margin: 0 26px 26px 0;
}

.academy .bgGray_items_lists li:nth-child(n+5) {
  margin-bottom: 0;
}

.academy .bgGray_items_lists li:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 1414px) {
  .academy_inner {
    padding: 7.353vw 8.088vw 0px 7.353vw;
  }
  .academy_pricing {
    padding-bottom: 3.678vw;
  }
  .academy_pricing .text_pink_l {
    font-size: 3.493vw;
  }
  .academy_pricing .text_m {
    letter-spacing: 0.147vw;
  }
  .academy_pricing .text_m:first-child {
    line-height: 2.758vw;
    letter-spacing: 0.46vw;
  }
  .academy .bgGray {
    border-radius: 0.919vw;
    padding: 5.515vw 7.904vw 3.125vw 5.515vw;
  }
  .academy .bgGray_contents {
    padding-bottom: 3.676vw;
    border-bottom: 0.184vw solid #F080A0;
  }
  .academy .bgGray_contents:first-child {
    margin-bottom: 7.353vw;
  }
  
  .academy .bgGray_items_lists {
    padding-bottom: 3.676vw;
  }
  .academy .bgGray_items_lists li {
    margin: 0 1.838vw 1.838vw 0;
  }
}

@media (max-width: 768px) {
  .academy_inner {
    padding: 18vw 4% 0;
  }
  .academy .section_title {
    padding-bottom: 8vw;
  }
  .academy_pricing {
    margin-top: 0;
    padding-bottom: 8vw;
  }
  .academy_pricing .text_s {
    padding-top: 4vw;
  }
  .academy_pricing .text_pink_l {
    font-size: 6vw;
  }
  .academy .bgGray {
    border-radius: 1.302vw;
    padding: 8vw 5vw;
  }
  .academy .bgGray_contents {
    padding-bottom: 5.208vw;
    border-bottom: 0.26vw solid #F080A0;
  }
  .academy .bgGray_contents:first-child {
    margin-bottom: 10.417vw;
  }
  .academy .bgGray_contents_inner {
    flex-direction: column-reverse;
  }
  .academy .bgGray_contents_inner img {
    width: 90%;
    height: auto;
    padding-bottom: 6vw;
    margin: 0 auto;
  }
  .academy .bgGray_items_lists {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 5vw 3.906vw;
  }
  .academy .bgGray_items_lists li {
    width: 100%;
    margin: 0 0 2.604vw;
  }
  .academy .bgGray_items_lists li:nth-child(n+5) {
    margin: 0 0 2.604vw;
  }
  .academy .bgGray_items_lists li:last-child {
    margin: 0 0 2.604vw;
  }
  .academy .bgGray_items_lists li:nth-child(2n) {
    margin: 0 0 2.604vw;
  }
}

/* sns/ */
.sns {
  max-width: 1414px;
  margin: 0 auto;
}

.sns_inner {
  padding: 104px 114.4px 106.6px 104px;
}

.sns_inner .text_pink_l {
  padding-bottom: 52px;
  letter-spacing: 6.5px;
}

.sns_contents {
  display: flex;
  justify-content: space-between;
}

.sns_content {
  height: 10vw;
  width: 40vw;
  border-radius: 13px;
  box-shadow: 0 0 13px 6.5px #ddd;
}

.sns_content:first-child {
  margin-right: 52px;
}

.sns_content_texts {
  color: #373737;
  display: flex;
}

.sns_content_text {
  padding-top: 8px;
  padding-left: 18px;
}

.sns_content_title {
  font-size: 23.4px;
  font-weight: 700;
  line-height: 41.6px;
  letter-spacing: 0.26px;
}

.sns_content .text_s {
  line-height: 26px;
  letter-spacing: 0.26px;
}

.sns_content img {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  border-radius: 13px 0 0 13px;
}

@media (max-width: 1414px) {
  .sns_inner {
    padding: 40px 8.088vw 7.537vw 7.353vw;
  }
  .sns_inner .text_pink_l {
    padding-bottom: 3.678vw;
    letter-spacing: 0.46vw;
  }
  .sns_content {
    border-radius: 0.919vw;
    box-shadow: 0 0 10px 5px #ddd;
  }
  .sns_content:first-child {
    margin-right: 3.676vw;
  }
  .sns_content_title {
    font-size: 1.654vw;
    line-height: 2.941vw;
    letter-spacing: 0.018vw;
  }
  .sns_content .text_s {
    font-size: 1.471vw;
  }
  .sns_content img {
    border-radius: 0.919vw 0 0 0.919vw;
  }
}

@media (max-width: 768px) {
  .sns_inner {
    padding: 18vw 4%;
  }
  .sns_inner .text_pink_l {
    text-align: center;
    font-size: 8vw;
    line-height: 10vw;
    padding-bottom: 10.417vw;
  }
  .sns_contents {
    flex-direction: column;
  }
  .sns_content {
    width: 100%;
    height: auto;
    border-radius: 1.302vw;
    box-shadow: 0 0 1.302vw 0.651vw #ddd;
  }
  .sns_content:first-child {
    margin: 0 0 7vw;
  }
  
  .sns_content_title {
    font-size: 4.5vw;
    line-height: 8vw;
    letter-spacing: 0.026vw;
  }
  .sns_content .text_s {
    font-size: 3.5vw;
  }
  .sns_content img {
    height: 100px;
	  width: 100px;
    border-radius: 1.302vw 1.302vw 0 0;
  }
}

/* mission/ */
.mission {
  background: #F080A0;
  text-align: center;
  color: #fff;
  padding: 52px 0;
}

.mission .section_title_white {
  padding: 26px 0 39px;
}

.mission_sub_title {
  font-size: 23.4px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.26px;
}

@media (max-width: 1414px) {
  .mission {
    padding: 3.676vw 0;
  }
  .mission .section_title_white {
    padding: 1.838vw 0 2.757vw;
  }
  .mission_sub_title {
    font-size: 1.654vw;
    line-height: 2.757vw;
    letter-spacing: 0.018vw;
  }
}

@media (max-width: 768px) {
  .mission {
    padding: 18vw 4%;
  }
  .mission .section_title_white {
    padding: 6vw 0;
  }
  .mission_sub_title {
    font-size: 5vw;
    line-height: 5vw;
    letter-spacing: 0.026vw;
  }
}

/* profile/ */
.profile_inner {
  max-width: 1414px;
  margin: 0 auto;
  padding: 104px 114.4px 65px 104px;
}

.profile_inner .section_title {
  padding-bottom: 78px;
}

.profile_content_inner {
  display: flex;
}

.profile_content_lists {
  display: flex;
}

.profile_content_list {
  width: 349.7px;
  margin-right: 78px;
}

.profile_content_list:last-child {
  margin-right: 0;
}

.profile_content_list .bg_pink {
  margin-bottom: 31.2px;
}

.profile_content01 {
  display: flex;
  padding-bottom: 104px;
}

.profile_content01_texts {
  width: 575.9px;
  margin-right: 104px;
}

.profile_content01_texts_top {
  padding-bottom: 39px;
}

.profile_content01_texts_top .text_s {
  margin-bottom: 13px;
}

.profile_content01_texts .title_s {
  padding-bottom: 19.5px;
}

.profile_content01_texts .text_s {
  line-height: 26px;
  letter-spacing: 1.3px;
}

.profile_content01_imgs {
  width: 362.7px;
}

.profile_content01_imgs img {
  padding-bottom: 26px;
}

.profile_content02 {
  display: flex;
  align-items: center;
  padding-bottom: 87px;
}

.profile_content02_texts {
  width: 575.9px;
  margin-right: 104px;
}

.profile_content02_imgs {
  width: 362.7px;
  height: 204.1px;
}

.profile_content03 {
  padding-bottom: 78px;
}

.profile_content03 .bg_pink {
  padding: 5.2px 0;
}

.profile_content03 .title_s {
  padding-bottom: 52px;
}

.profile_content03 .text_s {
  line-height: 26px;
  padding-bottom: 13px;
}

.profile_content03 .text_s:last-child {
  padding-bottom: 0;
}

.profile_content04 {
  display: flex;
  align-items: flex-end;
}

.profile_content04_texts {
  width: 703.3px;
  margin-right: 20.6px;
}

.profile_content04_texts .icon {
  display: flex;
  padding-left: 90px;
  line-height: 15px;
}

.profile_content04_texts .icon_tel {
  padding-top: 20px;
  position: relative;
}

.profile_content04_texts .icon_tel img {
  width: 26.546px;
  height: 41.704px;
  position: absolute;
  top: 7px;
  left: 26px;
}

.profile_content04_texts .icon_mail {
  position: relative;
}

.profile_content04_texts .icon_mail img {
  width: 33px;
  height: 27.3px;
  position: absolute;
  top: -5px;
  left: 22px;
}

.profile_content04_texts .icon_facebook {
  position: relative;
}

.profile_content04_texts .icon_facebook img {
  width: 28.6px;
  height: 28.6px;
  position: absolute;
  top: -5px;
  left: 24px;
}

.profile_content04_texts .icon_map {
  position: relative;
}

.profile_content04_texts .icon_map img {
  width: 32.929px;
  height: 41.171px;
  position: absolute;
  top: -10px;
  left: 22px;
}

.profile_content04_texts .text_s {
  font-size: 13px;
  line-height: 26px;
}

.profile_content04 .text_s_sub {
  margin-bottom: 78px;
}

.profile_content04 iframe {
  width: 503.1px;
  height: 323.7px;
  border-radius: 28.6px;
}

@media (max-width: 1414px) {
  .profile_inner {
    padding: 7.353vw 8.088vw 4.596vw 7.353vw;
  }
  .profile_inner .section_title {
    padding-bottom: 5.515vw;
  }
  .profile_content_list {
    width: 24.724vw;
    margin-right: 5.515vw;
  }
  .profile_content_list .bg_pink {
    margin-bottom: 2.206vw;
  }
  .profile_content01 {
    padding-bottom: 7.353vw;
  }
  .profile_content01_texts {
    width: 40.717vw;
    margin-right: 7.353vw;
  }
  .profile_content01_texts_top {
    padding-bottom: 2.757vw;
  }
  .profile_content01_texts_top .text_s {
    margin-bottom: 0.919vw;
  }
  .profile_content01_texts .title_s {
    padding-bottom: 1.379vw;
  }
  .profile_content01_texts .text_s {
    line-height: 1.838vw;
    letter-spacing: 0.092vw;
  }
  .profile_content01_imgs {
    width: 25.643vw;
  }
  .profile_content01_imgs img {
    padding-bottom: 1.838vw;
  }
  .profile_content02 {
    padding-bottom: 6.158vw;
  }
  .profile_content02_texts {
    width: 40.717vw;
    margin-right: 7.353vw;
  }
  .profile_content02_imgs {
    width: 25.643vw;
    height: 14.43vw;
  }
  .profile_content03 {
    padding-bottom: 5.515vw;
  }
  .profile_content03 .bg_pink {
    padding: 0.368vw 0;
  }
  .profile_content03 .title_s {
    padding-bottom: 3.676vw;
  }
  .profile_content03 .text_s {
    line-height: 1.838vw;
    padding-bottom: 0.919vw;
  }
  .profile_content04 {
    display: flex;
    align-items: flex-end;
  }
  .profile_content04_texts {
    width: 49.738vw;
    margin-right: 1.457vw;
  }
  .profile_content04_texts .icon {
    display: flex;
    padding-left: 6.365vw;
    line-height: 1.061vw;
  }
  .profile_content04_texts .icon_tel {
    padding-top: 1.414vw;
    position: relative;
  }
  .profile_content04_texts .icon_tel img {
    width: 1.877vw;
    height: 2.949vw;
    position: absolute;
    top: 0.495vw;
    left: 1.839vw;
  }
  .profile_content04_texts .icon_mail {
    position: relative;
  }
  .profile_content04_texts .icon_mail img {
    width: 2.334vw;
    height: 1.931vw;
    position: absolute;
    top: -0.354vw;
    left: 1.556vw;
  }
  .profile_content04_texts .icon_facebook {
    position: relative;
  }
  .profile_content04_texts .icon_facebook img {
    width: 2.023vw;
    height: 2.023vw;
    position: absolute;
    top: -0.354vw;
    left: 1.697vw;
  }
  .profile_content04_texts .icon_map {
    position: relative;
  }
  .profile_content04_texts .icon_map img {
    width: 2.329vw;
    height: 2.912vw;
    position: absolute;
    top: -0.707vw;
    left: 1.556vw;
  }
  .profile_content04_texts .text_s {
    font-size: 0.919vw;
    line-height: 1.839vw;
  }
  .profile_content04 .text_s_sub {
    margin-bottom: 5.516vw;
  }
  .profile_content04 iframe {
    width: 35.58vw;
    height: 22.893vw;
    border-radius: 2.023vw;
  }
}

@media (max-width: 768px) {
  .profile_inner {
    padding: 18vw 4% 10vw;
  }
  .profile_inner .section_title {
    padding-bottom: 10vw;
  }
  .profile_content_lists {
    flex-direction: column;
  }
  .profile_content_list {
    width: 100%;
    padding-bottom: 8vw;
    margin-right: 7.813vw;
  }
  .profile_content_list .bg_pink {
    width: 30%;
    margin-bottom: 1.563vw;
  }
  .profile_content_inner {
    flex-direction: column;
  }
  .profile_content01 {
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .profile_content01_texts {
    width: 100%;
    margin-right: 10.417vw;
  }
  .profile_content01_texts_top {
    padding-bottom: 8vw;
  }
  .profile_content01_texts_top .text_s {
    margin-bottom: 1.302vw;
  }
  .profile_content01_texts .title_s {
    padding-bottom: 3vw;
  }
  .profile_content01_texts .text_s {
    line-height: 5vw;
    letter-spacing: 0.1vw;
  }
  .profile_content01_imgs {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 7vw;
  }
  .profile_content01_imgs img {
    width: 40%;
    padding-bottom: 0;
    margin-right: 3.906vw;
  }
  .profile_content02 {
    flex-direction: column;
    align-items: start;
    padding-bottom: 9.115vw;
  }
  .profile_content02_texts {
    width: 100%;
    padding-bottom: 5vw;
    margin-right: 0;
  }
  .profile_content02_imgs {
    width: 70%;
    height: 70%;
  }
  .profile_content03 {
    padding-bottom: 0;
  }
  .profile_content03 .bg_pink {
    width: 100%;
    padding: 2vw 0;
  }
  .profile_content03 .title_s {
    padding-bottom: 3vw;
  }
  .profile_content03 .text_s {
    line-height: 4vw;
    letter-spacing: 0;
    padding-bottom: 2vw;
  }
  .profile_content04 {
    flex-direction: column;
    padding-bottom: 20vw;
  }
  .profile_content04_texts {
    width: 100%;
    margin-right: 0;
  }
  .profile_content04_texts .icon {
    padding-left: 12vw;
    line-height: 3vw;
  }
  .profile_content04_texts .icon_tel {
    padding-top: 5vw;
  }
  .profile_content04_texts .icon_tel img {
    width: 5.631vw;
    height: 8.847vw;
    top: 1.5vw;
    left: 2.2vw;
  }
  .profile_content04_texts .icon_mail img {
    width: 7vw;
    height: 5.3vw;
    top: -1vw;
    left: 1.556vw;
  }
  .profile_content04_texts .icon_facebook img {
    width: 6.069vw;
    height: 6.069vw;
    top: -1vw;
    left: 2.1vw;
  }
  .profile_content04_texts .icon_map {
    line-height: 5vw;
  }
  .profile_content04_texts .icon_map img {
    width: 6.9vw;
    height: 8.736vw;
    top: 1vw;
    left: 1.556vw;
  }
  .profile_content04_texts .text_s {
    font-size: 3.5vw;
    line-height: 4.5vw;
    margin-bottom: 5vw;
  }
  .profile_content04 iframe {
    width: 100%;
    height: 45vw;
  }
}

/* footer/ */
.footer {
  height: 130px;
  background: #F080A0;
margin:0;
}

@media (max-width: 1414px) {
  .footer {
    height: 9.191vw;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 10vw;
  }
}